.space-y-6
  / Header
  .bg-white.shadow
    .px-4.py-5.sm:p-6
      .flex.items-center.justify-between
        %div
          %h1.text-3xl.font-bold.leading-tight.text-gray-900 Edit Variation
          %p.mt-2.max-w-4xl.text-sm.text-gray-500
            Update the variation details and its associated base image
        %div
          = link_to @variation, class: "btn-secondary mr-3" do
            %svg.h-5.w-5.mr-2{"aria-hidden" => "true", fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24"}
              %path{"stroke-linecap" => "round", "stroke-linejoin" => "round", d: "M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"}
              %path{"stroke-linecap" => "round", "stroke-linejoin" => "round", d: "M15 12a3 3 0 11-6 0 3 3 0 016 0z"}
            View
          = link_to variations_path, class: "btn-secondary" do
            %svg.h-5.w-5.mr-2{"aria-hidden" => "true", fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24"}
              %path{"stroke-linecap" => "round", "stroke-linejoin" => "round", d: "M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"}
            Back to Variations

  .bg-white.shadow.rounded-lg
    = render 'form'
